<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/img/icon-to-do-list.png" />
    <link rel="stylesheet" href="">
    <title>To Do | DSW1</title>
</head>
<body>
<table>
    <th>
        <tr>
            <td>Username </td>
            <td> Email Address </td>
            <td> Date of Birth </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </th>
</table>
</body>
</html>