<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/login.css">
    <title>To Do | DSW1</title>
</head>
<body>
    <div class="Login">
        <form action="../Controller/login.php" method="POST">
            <label for="email">Email:</label>
            <input id="email" name="email" type="text" required>
            <br>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required>
            <br>
            <div class="button">
            <button type="submit">Enter</button>
            <button type="button" onclick="window.location.href='/PHP_Projects/To_Do-PHP/View/register.html'">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
