<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="../assets/img/icon-to-do-list.png" />
    <link rel="stylesheet" href="../assets/login.css" />
    <title>To Do | DSW1</title>
  </head>
  <body>
    <div class="general-wrapper">
      <div class="signin-text-wrapper">
        <h1>Hello again!</h1>
        <h2>We are happy to have you back.</h2>
      </div>

      <form action="../Controller/login.php" method="POST">
        <div class="input-container">
          <label for="email">
            <input
              id="email"
              placeholder="Email"
              name="email"
              type="text"
              required
            />
          </label>

          <label for="password">
            <input
              id="password"
              placeholder="Password"
              name="password"
              type="password"
              required
            />
          </label>
        </div>

        <div class="button-container">
          <label class="submit-button-container">
            <button type="submit">LOGIN</button>
          </label>

          <h2>
            Don't have an account?
            <a href="../View/register.html">Signup now</a>
          </h2>
        </div>
      </form>
    </div>

    <script>
      // This function reads the URLs query string (after '?')
      function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
      }

      window.onload = function() {
        const error = getQueryParam('error'); // Get the 'error'

        // Comparison sequence
        if(error) {
          let message = "";
          if(error === 'invalidpassword') {
            message = "Incorrect password! Please try again.";
          }else if(error === 'invaliduser') {
            message = "Oooops! This user was not found."
          }else {
            message = "Oooops! An unknown error occurred."
          }

          alert(message);
        }
      }
    </script>
  </body>
</html>
