<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/icon-to-do-list.png" />
    <link rel="stylesheet" href="../assets/register.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>To Do | DSW1</title>
</head>
<body>
    <div class="Login">
        <form action="../Controller/registration.php" method="post">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" required>
            <br>
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" required>
            <br>
            <label for="birthdate">Birth Date:</label>
            <input id="birthdate" name="birthdate" type="date" required>
            <br>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required>
            <i class="bi bi-eye-fill"></i>
            <br>
            <div class="button">
            <button type="submit">Enter</button>
            <button type="button" onclick="window.location.href='/PHP_Projects/To_Do-PHP/View/login.html'">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
